# ========================
# CORE (GPU)
# ========================
torch
torchvision
torchaudio

# ========================
# COMPUTER VISION
# ========================
opencv-python
mediapipe
Pillow

# ========================
# DATA
# ========================
numpy
pandas
numpy
pandas
scipy
scikit-learn

# ========================
# BACKEND
# ========================
fastapi
uvicorn
pydantic
email-validator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pymongo
python-dotenv

# ========================
# UTILS
# ========================
tqdm

# ========================
# SECURITY & 2FA
# ========================
pyotp
qrcode[pil]
